.u-block-f721-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-f721-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -30px);
  width: 30px;
  padding-top: 30px;
  top: auto;
  bottom: 219px;
}

.u-block-f721-4 {
  position: absolute;
  width: 30px;
  left: calc(((100% - 1140px) / 2)  + 1147px);
  padding-top: 30px;
  top: auto;
  bottom: 229px;
}

@media (max-width: 1199px) {
  .u-block-f721-3 {
    left: calc(((100% - 940px) / 2)  + -25px);
    width: 54px;
  }

  .u-block-f721-4 {
    right: 0;
    left: calc(((100% - 940px) / 2)  + 946px);
  }
}

@media (max-width: 991px) {
  .u-block-f721-3 {
    left: calc(((100% - 720px) / 2)  + -19px);
    width: 41px;
  }

  .u-block-f721-4 {
    left: calc(((100% - 720px) / 2)  + 724px);
  }
}

@media (max-width: 767px) {
  .u-block-f721-3 {
    left: calc(((100% - 540px) / 2)  + -85px);
    width: 38px;
  }

  .u-block-f721-4 {
    left: calc(((100% - 540px) / 2)  + 612px);
  }
}

@media (max-width: 575px) {
  .u-block-f721-3 {
    left: calc(((100% - 340px) / 2)  + -128px);
    width: 32px;
  }

  .u-block-f721-4 {
    left: calc(((100% - 340px) / 2)  + 457px);
  }
}

.u-section-1-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1-1 .u-image-1 {
  width: 798px;
  object-position: 92.45% 50%;
  background-position: 92.45% 50%;
  height: 550px;
  margin: 8px 0 0 auto;
}

.u-section-1-1 .u-group-1 {
  width: 403px;
  min-height: 406px;
  height: auto;
  margin: -498px auto 0 102px;
}

.u-section-1-1 .u-text-1 {
  margin: 40px 20px 0;
}

.u-section-1-1 .u-text-2 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-1-1 .u-line-1 {
  width: 109px;
  transform-origin: left center 0;
  margin: -44px auto 0 -102px;
}

.u-section-1-1 .u-text-3 {
  font-style: italic;
  margin: 64px 20px 0;
}

.u-section-1-1 .u-link-1 {
  padding-bottom: 2px;
  margin: 20px auto 40px 20px;
}

.u-section-1-1 .u-group-2 {
  width: 224px;
  min-height: 52px;
  height: auto;
  margin: -432px auto 0 342px;
}

.u-section-1-1 .u-text-4 {
  margin: 0 20px;
}

.u-section-1-1 .u-text-5 {
  position: relative;
  margin-bottom: 60px;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1-1 .u-image-1 {
    width: 658px;
    margin-top: 21px;
  }

  .u-section-1-1 .u-group-1 {
    width: 332px;
    margin-top: -511px;
    margin-left: 86px;
    height: auto;
  }

  .u-section-1-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-1 .u-line-1 {
    width: 91px;
    margin-left: -84px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-1 .u-link-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-1-1 .u-group-2 {
    width: 185px;
    margin-left: 282px;
    height: auto;
  }

  .u-section-1-1 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1-1 .u-image-1 {
    object-position: 100% 50%;
    background-position: 100% 50%;
    width: 504px;
  }

  .u-section-1-1 .u-group-1 {
    width: 357px;
    min-height: 6445px;
    margin-top: -478px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 43px;
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-1-1 .u-line-1 {
    width: 72px;
    margin-left: -64px;
  }

  .u-section-1-1 .u-text-3 {
    position: relative;
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-1-1 .u-link-1 {
    margin: 41px auto 43px 0;
  }

  .u-section-1-1 .u-group-2 {
    width: 141px;
    margin-top: -489px;
    margin-left: 216px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1-1 .u-text-5 {
    margin: 103px 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1-1 .u-image-1 {
    margin-top: 404px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-group-1 {
    width: 491px;
    min-height: 355px;
    margin-top: -921px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 27px;
    margin-right: 48px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 48px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-line-1 {
    width: 49px;
    margin-top: -43px;
    margin-left: -38px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 71px;
    margin-right: 48px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-link-1 {
    margin-top: 20px;
    margin-bottom: 27px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-group-2 {
    width: 133px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-1 .u-text-5 {
    margin-top: -249px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-1 .u-image-1 {
    height: 439px;
    margin-top: 496px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-group-1 {
    width: 309px;
    min-height: 436px;
    margin-top: -905px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-line-1 {
    width: 36px;
    margin-left: -30px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 58px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-link-1 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 45px;
  }

  .u-section-1-1 .u-group-2 {
    width: 176px;
    margin-top: 0;
    margin-left: 31px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-text-5 {
    margin-top: -100px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1-2 .u-image-1 {
  width: 798px;
  object-position: 92.45% 50%;
  background-position: 92.45% 50%;
  height: 550px;
  margin: 8px 0 0 auto;
}

.u-section-1-2 .u-group-1 {
  width: 403px;
  min-height: 406px;
  height: auto;
  margin: -498px auto 0 104px;
}

.u-section-1-2 .u-text-1 {
  margin: 40px 20px 0;
}

.u-section-1-2 .u-text-2 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-1-2 .u-line-1 {
  width: 109px;
  transform-origin: left center 0;
  margin: -44px auto 0 -102px;
}

.u-section-1-2 .u-text-3 {
  font-style: italic;
  margin: 64px 20px 0;
}

.u-section-1-2 .u-link-1 {
  padding-bottom: 2px;
  margin: 20px auto 40px 20px;
}

.u-section-1-2 .u-group-2 {
  width: 224px;
  min-height: 52px;
  height: auto;
  margin: -432px auto 55px 342px;
}

.u-section-1-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1-2 .u-text-4 {
  margin: 16px 0;
}

.u-section-1-2 .u-text-5 {
  position: relative;
  margin-bottom: 0;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1-2 .u-image-1 {
    width: 658px;
    margin-top: 21px;
  }

  .u-section-1-2 .u-group-1 {
    width: 332px;
    margin-top: -511px;
    margin-left: 86px;
    height: auto;
  }

  .u-section-1-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-2 .u-line-1 {
    width: 91px;
    margin-left: -84px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-2 .u-link-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-1-2 .u-group-2 {
    width: 185px;
    margin-left: 282px;
    height: auto;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-2 .u-text-5 {
    margin-bottom: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1-2 .u-image-1 {
    object-position: 100% 50%;
    background-position: 100% 50%;
    width: 504px;
  }

  .u-section-1-2 .u-group-1 {
    width: 357px;
    min-height: 442px;
    margin-top: -478px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 43px;
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-1-2 .u-line-1 {
    width: 72px;
    margin-left: -64px;
  }

  .u-section-1-2 .u-text-3 {
    position: relative;
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-1-2 .u-link-1 {
    margin: 41px auto 43px 0;
  }

  .u-section-1-2 .u-group-2 {
    width: 141px;
    margin-top: -489px;
    margin-bottom: 0;
    margin-left: 216px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1-2 .u-text-5 {
    margin: 103px 0 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1-2 .u-image-1 {
    margin-top: 404px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-group-1 {
    width: 491px;
    min-height: 355px;
    margin-top: -921px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 27px;
    margin-right: 48px;
    margin-left: 20px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 16px;
    margin-right: 48px;
    margin-left: 20px;
  }

  .u-section-1-2 .u-line-1 {
    width: 49px;
    margin-top: -43px;
    margin-left: -38px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 71px;
    margin-right: 48px;
    margin-left: 20px;
  }

  .u-section-1-2 .u-link-1 {
    margin-top: 20px;
    margin-bottom: 27px;
    margin-left: 20px;
  }

  .u-section-1-2 .u-group-2 {
    width: 133px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-2 .u-text-5 {
    margin-top: -249px;
    margin-bottom: 806px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-2 .u-image-1 {
    height: 439px;
    margin-top: 496px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-group-1 {
    width: 309px;
    min-height: 436px;
    margin-top: -905px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 45px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-2 .u-line-1 {
    width: 36px;
    margin-left: -30px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 58px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-2 .u-link-1 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 45px;
  }

  .u-section-1-2 .u-group-2 {
    width: 176px;
    margin-top: 0;
    margin-left: 31px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1-2 .u-text-4 {
    margin: 5px 6px;
  }

  .u-section-1-2 .u-text-5 {
    margin-top: -100px;
    margin-bottom: 565px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 775px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 665px;
}

.u-section-2 .u-shape-1 {
  width: 313px;
  left: auto;
  right: 0;
}

.u-section-2 .u-image-1 {
  width: 381px;
  height: 252px;
  margin-top: 369px;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 27px;
}

.u-section-2 .u-group-1 {
  width: 485px;
  min-height: 358px;
  height: auto;
  margin: -601px auto 65px 10px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 40px;
}

.u-section-2 .u-text-1 {
  margin: 37px 20px 0 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-link-1 {
  padding-bottom: 2px;
  margin: 27px auto 20px 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/696fa2f541bc709fd954ac530f976a6a.jpeg");
  min-height: 282px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: url("images/076194d9f936f805fce800cb88427bdb.jpeg");
  min-height: 282px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  background-image: url("images/33d9debcde14a08b1b7bab6b45e715fc.jpeg");
  min-height: 383px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    width: 258px;
  }

  .u-section-2 .u-image-1 {
    width: 304px;
    height: 218px;
    margin-top: 403px;
    margin-bottom: 0;
    margin-left: 47px;
  }

  .u-section-2 .u-group-1 {
    width: 400px;
    min-height: 383px;
    margin-bottom: 232px;
    margin-left: 8px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 33px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 718px;
  }

  .u-section-2 .u-shape-1 {
    width: 363px;
  }

  .u-section-2 .u-image-1 {
    width: 337px;
    height: 279px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 572px;
    min-height: 363px;
    margin-top: -662px;
    margin-bottom: 305px;
    margin-left: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 32px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -7px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 29px;
    margin-right: 6px;
  }

  .u-section-2 .u-link-1 {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .u-section-2 .u-image-2 {
    min-height: 315px;
  }

  .u-section-2 .u-image-3 {
    min-height: 315px;
  }

  .u-section-2 .u-image-4 {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 765px;
  }

  .u-section-2 .u-shape-1 {
    width: 274px;
  }

  .u-section-2 .u-image-1 {
    width: 381px;
    height: 283px;
    margin-top: 413px;
    margin-right: 70px;
  }

  .u-section-2 .u-group-1 {
    width: 478px;
    min-height: 397px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-right: 57px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 35px;
    margin-right: 57px;
  }

  .u-section-2 .u-link-1 {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 423px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 941px;
  }

  .u-section-2 .u-shape-1 {
    width: 249px;
  }

  .u-section-2 .u-image-1 {
    width: 285px;
    margin-top: 593px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-group-1 {
    width: 310px;
    min-height: 553px;
    margin-top: -856px;
    margin-bottom: 338px;
    margin-left: 3px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 27px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 55px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 591px;
}

.u-section-3 .u-shape-1 {
  width: 270px;
  height: 395px;
  margin: 73px 0 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 561px;
  height: 395px;
  margin: -395px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 499px;
  min-height: 421px;
  height: auto;
  margin: -408px 0 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 40px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 109px;
  transform-origin: left center 0;
  margin: -23px auto 0 -81px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 42px 20px 0;
}

.u-section-3 .u-link-1 {
  padding-bottom: 2px;
  margin: 20px 20px 40px auto;
}

.u-section-3 .u-image-1 {
  width: 280px;
  height: 471px;
  margin: -446px auto 0 141px;
}

.u-section-3 .u-group-2 {
  width: 463px;
  min-height: 71px;
  height: auto;
  margin: -9px auto 23px 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-4 {
  position: relative;
  margin: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-shape-1 {
    width: 222px;
    position: relative;
  }

  .u-section-3 .u-shape-2 {
    width: 463px;
  }

  .u-section-3 .u-group-1 {
    width: 411px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 76px;
    margin-left: -67px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-link-1 {
    margin-right: 16px;
  }

  .u-section-3 .u-image-1 {
    width: 259px;
    height: 485px;
    margin-left: 116px;
  }

  .u-section-3 .u-group-2 {
    width: 382px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-3 .u-shape-1 {
    width: 233px;
    height: 509px;
  }

  .u-section-3 .u-shape-2 {
    width: 354px;
    margin-top: -509px;
  }

  .u-section-3 .u-group-1 {
    width: 346px;
    min-height: 4358px;
    margin-top: -382px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 20px;
    margin-left: 5px;
  }

  .u-section-3 .u-line-1 {
    width: 69px;
    margin-left: -51px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5px;
  }

  .u-section-3 .u-link-1 {
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    width: 274px;
    height: 426px;
    margin-top: -547px;
    margin-left: 40px;
  }

  .u-section-3 .u-group-2 {
    width: 354px;
    margin-top: 25px;
    margin-bottom: 70px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-3 .u-shape-1 {
    width: 160px;
  }

  .u-section-3 .u-shape-2 {
    width: 332px;
    margin-top: 20px;
  }

  .u-section-3 .u-group-1 {
    width: 499px;
    min-height: 9765px;
    margin-top: 86px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 65px;
    margin-left: -38px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-link-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-image-1 {
    width: 166px;
    margin-top: -1015px;
    margin-left: 67px;
  }

  .u-section-3 .u-group-2 {
    width: 274px;
    margin-bottom: 535px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 214px;
    height: 468px;
    margin-top: 600px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -995px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 9602px;
    margin-top: 132px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 45px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 54px;
    margin-left: -24px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-link-1 {
    margin-right: 6px;
    margin-bottom: 45px;
  }

  .u-section-3 .u-image-1 {
    width: 263px;
    height: 435px;
    margin-top: -1008px;
    margin-right: 30px;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    margin-bottom: 555px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-4 {
  background-image: url("images/13d8a4310c89a62f7b641f53f89cdd3b.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 723px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 825px;
  min-height: 119px;
  height: auto;
  margin: 51px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  position: relative;
  margin: 10px 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 51px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 412px;
}

.u-section-4 .u-group-2 {
  width: 106px;
  min-height: 155px;
  height: auto;
  background-image: none;
  margin: 25px auto 0 25px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  margin: 19px 0 0;
}

.u-section-4 .u-group-3 {
  width: 310px;
  min-height: 239px;
  height: auto;
  margin: -78px auto 20px 51px;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  position: relative;
  font-size: 1.5rem;
  margin: 13px 20px 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  position: relative;
  margin: 20px 20px 25px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 412px;
}

.u-section-4 .u-group-4 {
  width: 106px;
  min-height: 155px;
  height: auto;
  background-image: none;
  margin: 25px auto 0 25px;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  margin: 19px 0 0;
}

.u-section-4 .u-group-5 {
  width: 310px;
  min-height: 239px;
  height: auto;
  margin: -78px auto 20px 51px;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  position: relative;
  margin: 13px 20px 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  position: relative;
  margin: 20px 20px 25px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 412px;
}

.u-section-4 .u-group-6 {
  width: 106px;
  min-height: 155px;
  height: auto;
  background-image: none;
  margin: 25px auto 0 25px;
}

.u-section-4 .u-container-layout-9 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-4 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  margin: 19px 0 0;
}

.u-section-4 .u-group-7 {
  width: 310px;
  min-height: 239px;
  height: auto;
  margin: -78px auto 40px 51px;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  position: relative;
  margin: 13px 20px 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  position: relative;
  margin: 20px 20px 25px;
}

.u-section-4 .u-link-1 {
  padding-bottom: 2px;
  margin: 51px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-group-1 {
    width: 680px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-group-2 {
    width: 105px;
    margin-left: 21px;
    height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-group-3 {
    width: 251px;
    min-height: 269px;
    height: auto;
    margin: -70px 0 56px auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-4 .u-group-4 {
    width: 105px;
    margin-left: 21px;
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-group-5 {
    width: 256px;
    margin-bottom: 68px;
    margin-left: 42px;
    height: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 464px;
  }

  .u-section-4 .u-group-6 {
    width: 105px;
    margin-left: 21px;
    height: auto;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-group-7 {
    width: 256px;
    margin-top: -77px;
    margin-left: 42px;
    height: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 426px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 62.3% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-4 .u-group-1 {
    width: 521px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-4 .u-group-2 {
    width: 120px;
    margin-left: 16px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-4 .u-group-3 {
    width: 297px;
    min-height: 231px;
    margin-top: -74px;
    margin-right: 16px;
    margin-bottom: 53px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 19px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-4 .u-group-4 {
    width: 120px;
    margin-left: 16px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-4 .u-group-5 {
    width: 297px;
    min-height: 268px;
    margin-right: 16px;
    margin-bottom: 21px;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 400px;
  }

  .u-section-4 .u-group-6 {
    width: 120px;
    margin-left: 16px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-4 .u-group-7 {
    width: 297px;
    min-height: 249px;
    margin-right: 16px;
    margin-bottom: 18px;
    margin-left: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-link-1 {
    margin-top: 94px;
    margin-left: auto;
    margin-bottom: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-4 .u-group-1 {
    width: 488px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 364px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-4 .u-group-2 {
    width: 130px;
    margin-left: 12px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-group-3 {
    width: 305px;
    min-height: 218px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 24px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-4 .u-group-4 {
    width: 130px;
    margin-left: 12px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-group-5 {
    width: 316px;
    min-height: 243px;
    margin-right: auto;
    margin-bottom: 54px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-4 .u-group-6 {
    width: 130px;
    margin-left: 12px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-group-7 {
    width: 327px;
    min-height: 233px;
    margin-right: 13px;
    margin-bottom: 61px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-link-1 {
    margin-top: 74px;
    margin-right: 220px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1612px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-4 .u-group-2 {
    width: 144px;
    margin-left: 7px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-group-3 {
    width: 282px;
    min-height: 237px;
    margin-bottom: 25px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-4 .u-group-4 {
    width: 144px;
    margin-top: 7px;
    margin-left: 7px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-group-5 {
    width: 319px;
    min-height: 239px;
    margin-right: 6px;
    margin-bottom: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 434px;
  }

  .u-section-4 .u-group-6 {
    width: 144px;
    margin-top: 36px;
    margin-left: 7px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-group-7 {
    width: 319px;
    min-height: 224px;
    margin-right: 6px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-10 {
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-1 {
    margin: 13px auto 108px 7px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 815px;
}

.u-section-5 .u-group-1 {
  width: 825px;
  min-height: 152px;
  height: auto;
  margin: 48px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-top: 20px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 42px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 442px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-1 {
  height: 261px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  position: relative;
  margin: 20px 20px 19px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 442px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-2 {
  height: 261px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  position: relative;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  position: relative;
  margin: 20px 20px 19px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 442px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-3 {
  height: 261px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  position: relative;
  margin: 20px 20px 19px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 442px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-4 {
  height: 261px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  position: relative;
  margin: 20px 20px 19px;
}

.u-section-5 .u-btn-1 {
  margin: 64px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 680px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 521px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 488px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 779px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 97px auto 80px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 282px;
  background-image: none;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  line-height: 1.4;
  position: relative;
  margin: 30px 20px 27px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/de12d60bdcb1b2c93772bd8a454836da.jpeg");
  min-height: 282px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 282px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/212a96c4ddd8c16e8528aa45be8fb199.jpeg");
  min-height: 303px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/a11dda3e42cc8f8e1958829d056b995b.jpeg");
  min-height: 303px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-4 {
  background-image: url("images/1922c5a7eddcf7cda20a6249b57f9e6d.jpeg");
  min-height: 303px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 585px;
}

.u-section-6 .u-image-5 {
  width: 567px;
  height: 282px;
  margin: 0 auto 0 -284px;
}

.u-section-6 .u-group-1 {
  width: 254px;
  min-height: 305px;
  height: auto;
  margin: -2px auto 0;
}

.u-section-6 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-6 {
  width: 60px;
  height: 60px;
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-1 {
    min-height: 284px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 284px;
  }

  .u-section-6 .u-image-2 {
    min-height: 306px;
  }

  .u-section-6 .u-image-3 {
    min-height: 306px;
  }

  .u-section-6 .u-image-4 {
    min-height: 306px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 590px;
  }

  .u-section-6 .u-image-5 {
    width: 468px;
    margin-left: -234px;
  }

  .u-section-6 .u-group-1 {
    width: 209px;
    margin-left: 12px;
    height: auto;
  }

  .u-section-6 .u-image-6 {
    width: 49px;
    height: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2266px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 536px;
    margin: 95px auto -23px 92px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-image-5 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    width: 517px;
    min-height: 279px;
    margin-top: 13px;
    margin-left: auto;
    margin-bottom: 5px;
  }

  .u-section-6 .u-image-6 {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2265px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 503px;
    margin-bottom: 94px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-image-5 {
    height: 299px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 522px;
    margin-top: 7px;
  }

  .u-section-6 .u-image-6 {
    width: 50px;
    height: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2216px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-group-1 {
    width: 331px;
    margin-top: 6px;
  }

  .u-section-6 .u-image-6 {
    width: 60px;
    height: 30px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(241,197,14,0.5), rgba(241,197,14,0.5)), url("images/4008e7da7d8f2e676121d9862623031c.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 559px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-group-1 {
  width: 485px;
  min-height: 358px;
  height: auto;
  margin: 101px auto 55px 0;
}

.u-section-7 .u-text-1 {
  margin: 37px 20px 0 0;
}

.u-section-7 .u-text-2 {
  position: relative;
  font-size: 2.25rem;
  margin: 20px 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-7 .u-link-1 {
  padding-bottom: 2px;
  margin: 27px auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 483px;
    min-height: 401px;
    margin-top: 100px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-7 .u-link-1 {
    margin-top: 35px;
    margin-bottom: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-7 .u-group-1 {
    width: 534px;
    min-height: 399px;
    margin-top: 74px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 40px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 37px;
    margin-right: 13px;
  }

  .u-section-7 .u-link-1 {
    margin-top: 37px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-7 .u-group-1 {
    min-height: 422px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 40px;
    margin-right: 9px;
  }

  .u-section-7 .u-link-1 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 62.17% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-7 .u-group-1 {
    min-height: 468px;
    margin-top: 88px;
    margin-bottom: 65px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-top: 38px;
    margin-right: -11px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 30px;
    margin-right: -11px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 30px;
    margin-right: -11px;
    margin-left: 20px;
  }

  .u-section-7 .u-link-1 {
    margin-top: 35px;
    margin-bottom: 38px;
    margin-left: 20px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 831px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-8 .u-image-1 {
  background-image: url("images/1ec36f26170b3d83c6547d11731b8b4d.jpeg");
  background-position: 50% 50%;
  min-height: 341px;
}

.u-section-8 .u-image-2 {
  background-image: url("images/ce8bc2e4099153b4a737439bbc46f93d.jpeg");
  background-position: 0% 15.47%;
  min-height: 341px;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 681px;
}

.u-section-8 .u-shape-1 {
  width: 313px;
  left: auto;
  right: 0;
}

.u-section-8 .u-image-3 {
  width: 388px;
  height: 276px;
  margin: 375px auto 0 77px;
}

.u-section-8 .u-group-1 {
  width: 485px;
  min-height: 358px;
  height: auto;
  margin: -631px auto 65px 10px;
}

.u-section-8 .u-text-1 {
  margin: 37px 20px 0 0;
}

.u-section-8 .u-text-2 {
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-8 .u-link-1 {
  padding-bottom: 2px;
  margin: 27px auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-shape-1 {
    width: 258px;
  }

  .u-section-8 .u-image-3 {
    width: 274px;
    height: 191px;
    margin-top: 460px;
    margin-left: 71px;
  }

  .u-section-8 .u-group-1 {
    width: 419px;
    min-height: 471px;
    margin-top: -651px;
    margin-bottom: 180px;
    margin-left: 8px;
    height: auto;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-top: 57px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    min-height: 395px;
  }

  .u-section-8 .u-image-2 {
    min-height: 395px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 790px;
  }

  .u-section-8 .u-shape-1 {
    width: 197px;
  }

  .u-section-8 .u-image-3 {
    width: 235px;
    height: 174px;
    margin-top: 580px;
    margin-left: 42px;
  }

  .u-section-8 .u-group-1 {
    width: 306px;
    margin-top: -754px;
    margin-left: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 29px;
    margin-right: 5px;
    margin-left: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-right: -7px;
    margin-left: 20px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 28px;
    margin-right: 6px;
    margin-left: 20px;
  }

  .u-section-8 .u-link-1 {
    margin-top: 28px;
    margin-bottom: 29px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    min-height: 315px;
  }

  .u-section-8 .u-image-2 {
    min-height: 423px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 765px;
  }

  .u-section-8 .u-shape-1 {
    width: 277px;
  }

  .u-section-8 .u-image-3 {
    width: 325px;
    height: 240px;
    margin-top: 462px;
    margin-left: 101px;
  }

  .u-section-8 .u-group-1 {
    width: 445px;
    min-height: 439px;
    margin-top: -702px;
    margin-bottom: 296px;
    margin-left: 5px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 38px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 19px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 33px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-8 .u-link-1 {
    padding-bottom: 1px;
    margin-top: 35px;
    margin-bottom: 38px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1557px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 258px;
  }

  .u-section-8 .u-image-2 {
    min-height: 347px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 826px;
  }

  .u-section-8 .u-shape-1 {
    width: 227px;
  }

  .u-section-8 .u-image-3 {
    width: 193px;
    margin-top: 540px;
    margin-left: 37px;
  }

  .u-section-8 .u-group-1 {
    width: 320px;
    min-height: 537px;
    margin-top: -780px;
    margin-bottom: 259px;
    margin-left: 3px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 43px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 21px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 30px;
    margin-right: 21px;
    margin-left: 20px;
  }

  .u-section-8 .u-link-1 {
    margin-top: 30px;
    margin-bottom: 43px;
    margin-left: 20px;
  }
}